h1 {
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  display: inline-flex;
  color: var(--text-color);
}

hr {
  margin-bottom: 1.25rem;
  color: var(--text-color);
}

:root{
  --text-color: #555f77;
  --hover-color: #000;
  --primary-color: #f0f2fa;
  --secondary-color: #fff;
  --slider-color: #F9A03F;
}
.dark-theme {
  --text-color: #ffffff;
  --hover-color: #a5a5a5;
  --primary-color: #3a3a3a;
  --secondary-color: #585858;
  --slider-color: #18F2B2;
}

.title {
  float: left;
}
.icon{
  float: right;
}

body {
  background-color: var(--primary-color);
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
}

input, textarea {
  outline: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--secondary-color) !important;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: var(--text-color);
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: var(--text-color);
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: var(--text-color);
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: var(--text-color);
}

.slider_container{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.font_slider::-moz-range-progress {
  background-color: var(--slider-color);
}
.font_slider::-moz-range-track {
  background-color: var(--text-color);
}
.font_slider {
  background-color: var(--primary-color) !important;
}

p {
  color: var(--text-color);
  line-height: 1.3125rem;
}

.notes {
  margin: 2.5rem auto 0;
  max-width: 60.75rem;
  padding: 0 1.25rem;
}

.note-wrap {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5.3125rem;
}

.note-wrap .note-actions {
  float: right;
}
.note-wrap .note-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}

.note-wrap .note-actions li.edit {
  display: inline-block;
  padding-right: 0.75rem;
  border-right: 1px solid #e1e5eb;
  color: var(--text-color)
}
.note-wrap .note-actions li.edit:hover {
  background-color: transparent !important;
}

.note-wrap .note-actions li.delete {
  display: inline-block;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: var(--text-color)
}
.note-wrap .note-actions li.delete:hover {
  background-color: transparent !important;
}

.note-wrap .note-actions li.submit {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-weight: bold;
  margin: 2px;
  text-align: center;
  color: var(--text-color)
}
.note-wrap .note-actions li.submit:hover {
  background-color: transparent !important;
}

.note-wrap .note-actions li:hover {
  color: var(--hover-color);
}
.note-wrap .note-actions:hover {
  background-color: transparent !important;
}

.newNote {
  background-color: var(--secondary-color) !important;
}

.note-block {
  padding: 1rem;
  background-color: var(--secondary-color) !important;
  display: table-cell;
  vertical-align: top;
  border-radius: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.note-block textarea {
  width: 100%;
  resize: none;
}

.note-text {
  margin-bottom: 1.25rem;
  margin-top: 0.625rem;
  color: var(--text-color)
}
.note-text:hover{
  background-color: var(--secondary-color);
}

.bottom-notes {
  color: #acb4c2;
  font-size: 0.875rem;
}

.note-title {
  float: top;
  font-weight: bold;
  margin-bottom: 0.25rem;
  color: var(--text-color)
}
.note-title:hover{
  background-color: var(--secondary-color);
}