h1 {
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

hr {
  margin-bottom: 1.25rem;
}

html, body {
  background-color: #f0f2fa;
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #555f77;
  -webkit-font-smoothing: antialiased;
}

input, textarea {
  outline: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  color: #555f77;
  background-color: #fff !important;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ced2db;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ced2db;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #ced2db;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ced2db;
}

p {
  line-height: 1.3125rem;
}

.comments {
  margin: 2.5rem auto 0;
  max-width: 60.75rem;
  padding: 0 1.25rem;
}

.note-wrap {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5.3125rem;
}
.note-wrap :hover {
  background-color: #f3f3f3;
}
.note-wrap .note-actions {
  float: right;
}
.note-wrap .note-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}
.note-wrap .note-actions li.upload {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-weight: bold;
  border-right: 1px solid #e1e5eb;
  margin: 2px;
}
.note-wrap .note-actions li.upload:hover {
  background-color: transparent !important;
}
.note-wrap .note-actions li.edit {
  display: inline-block;
  padding-right: 0.75rem;
  border-right: 1px solid #e1e5eb;

}
.note-wrap .note-actions li.delete {
  display: inline-block;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

}
.note-wrap .note-actions li.submit {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-weight: bold;
  margin: 2px;
  text-align: center;
}
.note-wrap .note-actions li.submit:hover {
  background-color: transparent !important;
}
.note-wrap .note-actions li:hover {
  color: #000000;
}
.note-wrap .note-actions:hover {
  background-color: transparent !important;
}

.newNote {
  background-color: #fff !important;
}

.note-block {
  padding: 1rem;
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.note-block textarea {
  width: 100%;
  resize: none;
}

.note-text {
  margin-bottom: 1.25rem;
  margin-top: 0.625rem;
}

.bottom-notes {
  color: #acb4c2;
  font-size: 0.875rem;
}

.note-title {
  float: top;
  font-weight: bold;
  margin-bottom: 0.25rem;
}